@import 'variables';
@import 'classes';

.sidebar-menu .sidebar-link.router-link-active::before {
    background: #2196f3;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: calc(50% - 4px);
    width: 8px;
}

h4 a, a.project-tile {
    color: inherit;
}

.page-enter-active, .page-leave-active {
    transition: opacity 0.2s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

table tr {
    cursor: pointer;
}
