<template>
    <section id="issue" v-if="issue">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    <router-link :to="{ name: 'project.show', params: { identifier: issue.project.identifier } }">
                        {{ issue.project.name }}
                    </router-link>
                    <small>
                        <span class="separator">/</span>
                        <router-link :to="{ name: 'project.issues', params: { identifier: issue.project.identifier } }">
                            Issues
                        </router-link>
                        <span class="separator">/</span>
                        {{ issue.type }} #{{ issue.id }}
                    </small>
                </h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    <h6 class="c-grey-900">{{ issue.subject }}</h6>

                    <div class="c-grey-900 mT-10 mB-30">
                        Added by
                        <router-link :to="{ name: 'profile.show', params: { id: issue.owner.id } }">
                            {{ issue.owner.full_name }}
                        </router-link>
                        {{ issue.created_at | humanize }}.
                        <span v-if="wasUpdated">Updated {{ issue.updated_at | humanize }}.</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="layer w-100">
                                <div class="layers bdB">
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>Status</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.status }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>Priority</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.priority }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>Assignee</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.assignee ? issue.assignee.full_name : '-' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="layer w-100">
                                <div class="layers bdB">
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>Start date</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.start_date | datetime }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>Due date</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.due_date | datetime('-') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer w-100 bdT pY-5">
                                        <div class="peers ai-c jc-sb fxw-nw">
                                            <div class="peer"><span>% done</span></div>
                                            <div class="peer ta-r">
                                                <span class="fw-600 c-grey-800">{{ issue.done_ratio }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="c-grey-900 mT-30">Description</h6>
                    <div class="row">
                        <div class="col-md-12">
                            {{ issue.description }}
                        </div>
                    </div>

                    <section id="issue-parent" v-if="issue.hasParent()">
                        <h6 class="c-grey-900 mT-30">Parent issue</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <router-link :to="{ name: 'issue.show', params: { id: issue.parent.id } }">
                                    {{ issue.parent.type }} #{{ issue.parent.id }}: {{ issue.parent.subject }}
                                </router-link>
                            </div>
                        </div>
                    </section>

                    <section id="issue-related" v-if="issue.hasChildren()">
                        <h6 class="c-grey-900 mT-30">Related issues</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div v-for="child in issue.children.models">
                                    <router-link :to="{ name: 'issue.show', params: { id: child.id } }">
                                        {{ child.type }} #{{ child.id }}: {{ child.subject }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <section id="issue-activities" v-if="issue.hasActivities()">
                    <h5 class="c-grey-900 mT-30 mB-30">History</h5>

                    <div class="bgc-white bd bdrs-3 p-20 mB-10" v-for="activity in issue.activities.models">
                        <h6 class="c-grey-900">
                            Updated by
                            <router-link :to="{ name: 'profile.show', params: { id: activity.causer.id } }">
                                {{ activity.causer.full_name }}
                            </router-link>
                            {{ activity.created_at | humanize }}
                        </h6>
                        <hr>

                        <ul v-if="activity.additions.models.length" class="mB-15">
                            <li v-for="addition in activity.additions.models">
                                <strong>{{ addition.property | sentence }}</strong> set to <strong>{{ addition.value }}</strong>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-md-12">
                                <div>{{ activity.content }}</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Issue from '@/api/models/Issue'
    import ProgressBar from '@/components/ProgressBar'

    export default {
        components: {ProgressBar},
        data() {
            return {
                issue: null
            }
        },
        created() {
            api.getIssue(this.$route.params['id']).then(response => {
                this.issue = new Issue(response.data.data)
            })
        },
        computed: {
            wasUpdated() {
                return this.issue.updated_at.date !== this.issue.created_at.date
            }
        },
        watch: {
            '$route.params.id'(id) {
                api.getIssue(id).then(response => {
                    this.issue = new Issue(response.data.data)
                    console.log(response.data)
                })
            }
        }
    }
</script>
