<template>
    <section id="issue-edit" v-if="issue">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    <router-link :to="{ name: 'project.show', params: { identifier: issue.project.identifier } }">
                        {{ issue.project.name }}
                    </router-link>
                    <small>
                        <span class="separator">/</span>
                        <router-link :to="{ name: 'project.issues', params: { identifier: issue.project.identifier } }">
                            Issues
                        </router-link>
                        <span class="separator">/</span>
                        Edit
                    </small>
                </h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    Form
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Issue from '@/api/models/Issue'

    export default {
        data() {
            return {
                project: null
            }
        },
        created() {
            api.getIssue(this.$route.params['id']).then(response => {
                this.issues = new Issue(response.data.data)
            })
        }
    }
</script>
