<template>
    <section id="dashboard">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">Dashboard</h4>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>
