<template>
    <section id="search">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">Search results for "{{ value }}"</h4>
            </div>
        </div>
    </section>
</template>

<script>
    import {EventBus} from '@/app'

    export default {
        data() {
            return {
                value: ''
            }
        },
        mounted() {
            EventBus.$on('search', this.onSearch)
        },
        methods: {
            onSearch(value) {
                this.value = value
            }
        }
    }
</script>
