<template>
    <section id="project-new">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    New project
                </h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    Form
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>
