<template>
    <section id="project-activities" v-if="project">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    <router-link :to="{ name: 'project.show', params: { identifier: project.identifier } }">
                        {{ project.name }}
                    </router-link>
                    <small><span class="separator">/</span> Activities</small>
                </h4>

                <div class="bgc-white bd bdrs-3 p-20 mB-10" v-for="activity in activities.models">
                    <h6 class="c-grey-900">
                        Updated by
                        <router-link :to="{ name: 'profile.show', params: { id: activity.causer.id } }">
                            {{ activity.causer.full_name }}
                        </router-link>
                        {{ activity.created_at | humanize }}
                    </h6>
                    <hr>

                    <ul v-if="activity.additions.models.length" class="mB-15">
                        <li v-for="addition in activity.additions.models">
                            <strong>{{ addition.property | sentence }}</strong> set to <strong>{{ addition.value }}</strong>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-md-12">
                            <div>{{ activity.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Project from '@/api/models/Project'
    import Activities from '@/api/collections/Activities'

    export default {
        data() {
            return {
                activities: null,
                project: null
            }
        },
        created() {
            api.getProjectActivities(this.$route.params['identifier']).then(response => {
                this.activities = new Activities(response.data)
                this.project = new Project(this.activities.additional.project)

                console.log({activities: this.activities, project: this.project})
            })
        }
    }
</script>
