<template>
    <section id="project" v-if="project">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">{{ project.name }}</h4>

                <div class="row gap-20">
                    <div class="col-md-3">
                        <router-link :to="{ name: 'project.issues', params: { identifier: project.identifier } }" class="project-tile">
                            <div class="layers bd bgc-white p-20 ta-c">
                                <div class="peer">
                                    <h6 class="mB-10 lh-1 pB-3">Issues</h6>
                                    <i class="ti-agenda h2"></i>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <router-link :to="{ name: 'project.activities', params: { identifier: project.identifier } }" class="project-tile">
                            <div class="layers bd bgc-white p-20 ta-c">
                                <div class="peer">
                                    <h6 class="mB-10 lh-1 pB-3">Activities</h6>
                                    <i class="ti-stats-up h2"></i>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <router-link :to="{ name: 'project.participants', params: { identifier: project.identifier } }" class="project-tile">
                            <div class="layers bd bgc-white p-20 ta-c">
                                <div class="peer">
                                    <h6 class="mB-10 lh-1 pB-3">Participants</h6>
                                    <i class="ti-user h2"></i>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <router-link :to="{ name: 'project.settings', params: { identifier: project.identifier } }" class="project-tile">
                            <div class="layers bd bgc-white p-20 ta-c">
                                <div class="peer">
                                    <h6 class="mB-10 lh-1 pB-3">Settings</h6>
                                    <i class="ti-settings h2"></i>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>

                <div class="bgc-white bd bdrs-3 p-20 mT-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Description</h6></div>
                    <p>{{ project.description }}</p>

                    <slack-link :channel="project.slack_channel" :channelId="project.slack_channel_id"/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Project from '@/api/models/Project'
    import SlackLink from '@/components/SlackLink'

    export default {
        components: {SlackLink},
        data() {
            return {
                project: null
            }
        },
        created() {
            api.getProject(this.$route.params['identifier']).then(response => {
                this.project = new Project(response.data.data)
            })
        }
    }
</script>
