<template>
    <section id="project-list" v-if="projects">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">Projects</h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    <table class="table table-hover">
                        <thead class="ws-nowrap">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Issues</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="project in projects.models" :key="project.id" @click="navigate(project)">
                            <th scope="row">{{ project.id }}</th>
                            <td>{{ project.name }}</td>
                            <td>{{ project.issues_count }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Projects from '@/api/collections/Projects'

    export default {
        data() {
            return {
                projects: null
            }
        },
        created() {
            api.getProjects().then(response => {
                this.projects = new Projects(response.data)
            })
        },
        methods: {
            navigate(project) {
                this.$router.push({name: 'project.show', params: {identifier: project.identifier}})
            }
        }
    }
</script>
