<template>
    <section id="project-issues" v-if="project">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    <router-link :to="{ name: 'project.show', params: { identifier: project.identifier } }">
                        {{ project.name }}
                    </router-link>
                    <small><span class="separator">/</span> Issues</small>
                </h4>

                <div class="table-responsive bgc-white bd bdrs-3 p-20">
                    <table class="table table-hover">
                        <thead class="ws-nowrap">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tracker</th>
                            <th scope="col">Status</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Subject</th>
                            <th scope="col">% Done</th>
                            <th scope="col">Assignee</th>
                            <th scope="col">Updated</th>
                            <th scope="col">Estimated time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="issue in issues.models" :key="issue.id" @click="navigate(issue)">
                            <th scope="row">{{ issue.id }}</th>
                            <td>{{ issue.type }}</td>
                            <td>{{ issue.status }}</td>
                            <td>{{ issue.priority }}</td>
                            <td>{{ issue.subject }}</td>
                            <td>
                                <progress-bar :value="issue.done_ratio"/>
                            </td>
                            <td>
                                <router-link :to="{ name: 'profile.show', params: { id: issue.assignee.id } }"
                                             v-if="issue.assignee">
                                    {{ issue.assignee.full_name }}
                                </router-link>
                                <span v-else>-</span>
                            </td>
                            <td>{{ issue.updated_at | datetime }}</td>
                            <td>{{ issue.estimated_time }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import ProgressBar from '@/components/ProgressBar'
    import Issues from "@/api/collections/Issues"
    import Project from "@/api/models/Project"

    export default {
        components: {ProgressBar},
        data() {
            return {
                issues: null,
                project: null
            }
        },
        created() {
            api.getProjectIssues(this.$route.params['identifier']).then(response => {
                this.issues = new Issues(response.data)
                this.project = new Project(this.issues.additional.project)

                console.log({issues: this.issues, project: this.project})
            })
        },
        methods: {
            navigate(issue) {
                this.$router.push({name: 'issue.show', params: {id: issue.id}})
            }
        }
    }
</script>
