<template>
    <section id="project-settings" v-if="project">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">
                    <router-link :to="{ name: 'project.show', params: { identifier: project.identifier } }">
                        {{ project.name }}
                    </router-link>
                    <small><span class="separator">/</span> Settings</small>
                </h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    Settings
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import Project from '@/api/models/Project'

    export default {
        data() {
            return {
                project: null
            }
        },
        created() {
            api.getProject(this.$route.params['identifier']).then(response => {
                this.project = new Project(response.data.data)
            })
        }
    }
</script>
