<template>
    <li class="notifications dropdown">
        <span class="counter bgc-red" v-if="notifications.length">{{ notifications.length }}</span>

        <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
            <i class="ti-bell"></i>
        </a>

        <ul class="dropdown-menu">
            <li class="pX-20 pY-15 bdB">
                <i class="ti-bell pR-10"></i>
                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
            </li>

            <li>
                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                    <li v-for="notification in notifications" :key="notification.id">
                        <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                            <div class="peer mR-15">
                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                            </div>
                            <div class="peer peer-greed">
                                <span>
                                    <span class="fw-500">{{ notification.user.firstName }}</span>
                                    <span class="c-grey-600">
                                        updated <span class="text-dark">task #{{ notification.target.id }}</span>
                                    </span>
                                </span>
                                <p class="m-0">
                                    <timeago class="fsz-xs" :datetime="notification.createdAt" :autoUpdate="60"></timeago>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li v-if="!notifications.length">
                        <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                            <div class="peer peer-greed">
                                <span>
                                    <span class="c-grey-600">
                                        {{ emptyPhrase }}
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="pX-20 pY-15 ta-c bdT">
                <span>
                    <a href="" class="c-grey-600 cH-blue fsz-sm td-n">
                        View All Notifications <i class="ti-angle-right fsz-xs mL-10"></i>
                    </a>
                </span>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        name: 'notifications',
        data() {
            return {
                notifications: [],
                emptyPhrases: [
                    'You\'re up to date.',
                    'You\'ve read all you needed.',
                    'You\'re all read.'
                ]
            }
        },
        computed: {
            emptyPhrase() {
                return this.emptyPhrases[Math.floor(Math.random() * this.emptyPhrases.length)]
            }
        }
    }
</script>
