<template>
    <div class="progress mT-10" style="width: 100%;">
        <div class="progress-bar" :class="color" role="progressbar"
             :aria-valuenow="value" :aria-valuemin="min" :aria-valuemax="max" :style="{ width: percentage }">
            <span class="sr-only">{{ value }}% Complete</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'progress-bar',
        props: {
            value: {
                default: 0
            },
            min: {
                default: 0
            },
            max: {
                default: 100
            },
            color: {
                default: 'bgc-blue-500'
            }
        },
        created() {
            if (this.max <= 0) {
                this.max = 100
                console.warn('Given progress bar\'s max value is invalid, should be bigger than 0. Falling back to 100.')
            }
        },
        computed: {
            percentage() {
                return (this.value / this.max) * this.max + '%'
            }
        }
    }
</script>
