<template>
    <ul class="nav-left mL-0">
        <li class="search-box" :class="{ active: isActive }">
            <a class="search-toggle no-pdd-right" @click="onToggle">
                <i class="search-icon ti-search pdd-right-10"></i>
                <i class="search-icon-close ti-close pdd-right-10"></i>
            </a>
        </li>

        <li class="search-input" :class="{ active: isActive }">
            <input class="form-control" type="text" placeholder="Search..."
                   v-model="value" @input="onSearch" @blur="onBlur"
                   maxlength="80">
        </li>
    </ul>
</template>

<script>
    import {EventBus} from '@/app'

    export default {
        name: 'search-bar',
        data() {
            return {
                value: '',
                isActive: false
            }
        },
        mounted() {
            this.value = this.$route.params['phrase'] || ''

            if (this.value) {
                this.isActive = true
            }
        },
        watch: {
            value() {
                if (this.$route.name === 'search') {
                    EventBus.$emit('search', this.value)
                    this.$router.replace({name: 'search', query: {phrase: this.value}})
                }
            },
            $route(to) {
                if (to.name !== 'search') {
                    this.value = ''
                    this.isActive = false
                    this.$router.replace({ query: {} })
                }
            }
        },
        methods: {
            onToggle() {
                if (this.isActive && this.value) {
                    this.value = ''
                    this.$router.go(-1)
                }

                this.isActive ^= true
            },
            onSearch() {
                if (this.$route.name !== 'search') {
                    return this.$router.push({name: 'search'})
                }

                if (!this.value) {
                    this.$router.go(-1)
                }
            },
            onBlur() {
                if (!this.value) {
                    this.isActive = false
                }
            }
        }
    }
</script>
