<template>
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <router-link to="/" class="sidebar-link td-n">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo"><img src="/images/logo.png" alt="Logo"></div>
                                </div>
                                <div class="peer peer-greed">
                                    <h5 class="lh-1 mB-0 logo-text">{{ companyName }}</h5>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-item mT-30 active">
                    <router-link :to="{ name: 'dashboard' }" class="sidebar-link" exact>
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-home"></i>
                        </span>

                        <span class="title">Dashboard</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{ name: 'project.list' }" class="sidebar-link">
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-blackboard"></i>
                        </span>

                        <span class="title">Projects</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{ name: 'issue.list' }" class="sidebar-link">
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-agenda"></i>
                        </span>

                        <span class="title">Issues</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{ name: 'profile.me' }" class="sidebar-link">
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-user"></i>
                        </span>

                        <span class="title">Profile</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sidebar',
        data() {
            return {
                companyName: ''
            }
        },
        mounted() {
            this.companyName = window.aura.companyName
        }
    }
</script>
