<template>
    <section id="slack-link" v-if="channel">
        <div class="layer w-100 mB-10"><h6 class="lh-1">Slack channel</h6></div>

        <a target="_blank" :href="link" v-if="link">#{{ channel }}</a>
        <p v-else>#{{ channel }}</p>
    </section>
</template>

<script>
    export default {
        name: 'slack-link',
        props: ['channel', 'channelId'],
        data() {
            return {
                link: null
            }
        },
        watch: {
            channel() {
                if (aura.slackTeamId) {
                    this.link = this.generateUrl()
                }
            }
        },
        methods: {
            generateUrl() {
                return this.channelId
                    ? 'slack://open?team=' + aura.slackTeamId + '&id=' + this.channelId
                    : 'https://' + aura.slackTeamId + '.slack.com/channels/' + this.channel
            }
        }
    }
</script>
