<template>
    <section id="profile-edit" v-if="user">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">{{ user.full_name }}</h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    Form
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import User from '@/api/models/User'

    export default {
        data() {
            return {
                user: null
            }
        },
        created() {
            api.getMe().then(response => {
                this.user = new User(response.data.data)
            })
        }
    }
</script>
