<template>
    <section id="profile" v-if="user">
        <div class="row">
            <div class="col-md-12">
                <h4 class="c-grey-900 mT-10 mB-30">{{ user.full_name }}</h4>

                <div class="bgc-white bd bdrs-3 p-20">
                    <div>Registered on: {{ user.created_at | datetime }}</div>
                    <div v-if="user.last_login">Last seen: {{ user.last_login | humanize('-') }}</div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from '@/api/api'
    import User from '@/api/models/User'

    export default {
        data() {
            return {
                user: null
            }
        },
        created() {
            api.getUser(this.$route.params['id']).then(response => {
                this.user = new User(response.data.data)
            })
        }
    }
</script>
